/* General Styling */
.vehicles-wrapper {
    overflow: hidden;
    padding: 0 !important;
    margin: 0 !important;
    max-width: 100% !important;
    width: 100%;
}

.vehicles {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    height: 100vh !important;
    align-items: center;
}

/* Slide Styling */
.slide-0 {
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide {
    display: inline-block;
    flex: 0 0 auto;
    width: auto;
}

.slide picture {
    display: block;
    /* Ensure natural wrapping for images */
}


/* Offer Details Styling */
.offer-details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 32px;
}

.offer-details div[data-aue-prop="bannertext"] p:first-of-type {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 0;
}

.offer-details div[data-aue-prop="bannertext"] p:nth-of-type(2) {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}

.offer-details div[data-aue-prop="bannertext"] p:nth-of-type(3) {
    font-size: 16px;
    font-weight: 300;
    font-family: var(--background-color);
    color: rgb(0, 0, 0);
}

/* Button Styling */
.button-container {
    margin-top: 10px;
    display: flex;
    align-items: flex-end;
}

.button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s;
    /* Smooth hover transition */
}

.button:hover {
    background-color: #444;
}

/* Header Styling */
.slide-0 h2 {
    font-size: 68px;
    font-weight: 400;
}

[data-aue-type="richtext"] a:first-of-type {
    color: black;
    /* Change the color to black */
}


a.button:any-link,
button {
    background-color: black;
}