/* General Wrapper Styling */
.section.nissancards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.section.nissancards-container .nissan-heading-text {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#simplifiez-vos-achats-avec-nissan {
    font-size: 68px;
    font-weight: 400;
}

/* Nissan Cards Wrapper */
/* Container Grid Layout */
.cards-container {
    display: grid;
    gap: 20px;
    height: 100vh;
    grid-template-columns: 5fr 2fr 5fr 5fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    min-height: calc(100vh + 100px);
    margin-bottom: 90px;
}


/* Individual Card Placement and Dimensions */
#id1 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

#id2 {
    grid-column: 3 / 5;
    grid-row: 1/3;
}

#id3 {
    grid-column: 1 / 2;
    grid-row: 3;
}

#id4 {
    grid-column: 2 / 5;
    grid-row: 3 / 6;
}

#id5 {
    grid-column: 1;
    grid-row: 4 / 6;
}

/* Wrapper Div Styling */
.cards-link-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

/* Optional Styling for Sub-blocks */
.sub-block picture {
    display: block;
    height: 100%;
    width: 100%;
}

.sub-block img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.sub-block>div {
    height: 100%;
    width: 100%;
}

/* Adjust Text Placement for All Sub-blocks */
.sub-block .cards-link-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.cards-link-container p {
    color: white;
    font-family: var(--nissan-brand-bold);
}