/* header and nav layout */
header .nav-wrapper {
  width: 100%;
  z-index: 6;
  position: absolute;
  background-color: transparent;
}
header .nav-wrapper nav {
  margin: 0;
  width: 100%;
  max-width: 100%;
}
header nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
    "hamburger brand tools" var(--nav-height)
    "sections sections sections" 1fr / auto 1fr auto;
  align-items: center;
  gap: 0 24px;
  margin: auto;
  max-width: 1248px;
  height: var(--nav-height);
  padding: 0 5rem;
  font-family: var(--body-font-family);
}

header nav[aria-expanded="true"] {
  grid-template:
    "hamburger brand" var(--nav-height)
    "sections sections" 1fr
    "tools tools" var(--nav-height) / auto 1fr;
  overflow-y: auto;
  min-height: 100dvh;
}

@media (width >= 900px) {
  header nav {
    display: flex;
    justify-content: space-between;
    gap: 0 32px;
    max-width: 1264px;
    padding: 0 5rem;
  }

  header nav[aria-expanded="true"] {
    min-height: 0;
    overflow: visible;
  }
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link {
  color: currentcolor;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: "";
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon,
header nav[aria-expanded="false"] .nav-hamburger-icon::before,
header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::before,
header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media (width >= 900px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* brand */
header .nav-brand {
  grid-area: brand;
  flex-basis: 128px;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
}

header nav .nav-brand img {
  width: 128px;
  height: auto;
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
}

header nav[aria-expanded="true"] .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
}

header nav .nav-sections ul {
  list-style: none;
  padding-left: 0;
  font-size: 18px;
}

header nav .nav-sections ul > li {
  font-weight: 500;
}

header nav .nav-sections ul > li > ul {
  margin-top: 0;
}

header nav .nav-sections ul > li > ul > li {
  font-weight: 400;
}

@media (width >= 900px) {
  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav[aria-expanded="true"] .nav-sections {
    align-self: unset;
  }

  header nav .nav-sections .nav-drop {
    position: relative;
    padding-right: 16px;
    cursor: pointer;
  }

  header nav .nav-sections .nav-drop::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0.5em;
    right: 2px;
    transform: rotate(135deg);
    width: 6px;
    height: 6px;
    border: 2px solid currentcolor;
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0;
  }

  header nav .nav-sections .nav-drop[aria-expanded="true"]::after {
    top: unset;
    bottom: 0.5em;
    transform: rotate(315deg);
  }

  header nav .nav-sections ul {
    display: flex;
    gap: 24px;
    margin: 0;
  }

  header nav .nav-sections .default-content-wrapper > ul > li {
    flex: 0 1 auto;
    position: relative;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul {
    display: none;
    position: relative;
  }

  header
    nav
    .nav-sections
    .default-content-wrapper
    > ul
    > li[aria-expanded="true"]
    > ul {
    display: block;
    position: absolute;
    left: -24px;
    width: 200px;
    top: 150%;
    padding: 16px;
    background-color: var(--light-color);
    white-space: initial;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul::before {
    content: "";
    position: absolute;
    top: -8px;
    left: 16px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--light-color);
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul > li {
    padding: 8px 0;
  }
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
}

.nav-wrapper nav .nav-sections {
  text-align: right;
}
.nav-wrapper nav .nav-sections .default-content-wrapper {
  display: inline-flex;
  gap: 20px;
}
.nav-wrapper nav .nav-brand .icon-nissan-logo {
  position: relative;
  top: 3em;
}

.header-nav-menu {
  position: relative;
}
.header-nav-menu .h-menu-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 15px;
  cursor: pointer;
  top: -2px;
  z-index: 2;
}
.header-nav-menu .h-menu-icon.active {
  left: 8px;
}
.header-nav-menu .h-menu-icon .h-menu-bar {
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 64px;
  background-color: white;
  transition: 0.5s;
}
.header-nav-menu .h-menu-icon .menu-bar-1 {
  top: 5px;
}
.header-nav-menu .h-menu-icon .menu-bar-2 {
  top: 11px;
}
.header-nav-menu .h-menu-icon .menu-bar-3 {
  top: 17px;
}
.header-menu-container {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #000000e0;
  display: none;
}
.header-menu-container .header-menu-list {
  position: absolute;
  right: -380px;
  height: auto;
  width: 380px;
  background-color: #fff;
  top: 0;
  transition: 0.5s;
}
.header-menu-container .header-menu-overlay {
  position: static;
  width: 100%;
  height: 100%;
}
.header-menu-container.active {
  display: block;
}
.header-nav-menu .h-menu-icon.active .h-menu-bar {
  background-color: #000;
}
.header-nav-menu .h-menu-icon.active .menu-bar-1 {
  transform: rotate(40deg);
  transform-origin: top left;
}
.header-nav-menu .h-menu-icon.active .menu-bar-2 {
  width: 0;
}
.header-nav-menu .h-menu-icon.active .menu-bar-3 {
  transform: rotate(-40deg);
  transform-origin: bottom left;
}
.header-menu-list .menu-list-wrapper {
  margin-top: 60px;
  height: calc(100vh - 60px);
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0 29px;
  text-align: left;
}
.menu-list-level-1 {
  padding: 10px 0;
  cursor: pointer;
  position: relative;
}
.menu-list-level-1:last-child {
  margin-top: 40px;
}
.menu-list-level-1 h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 200;
}
.menu-list-level-1 .menu-list-level-2 {
  display: none;
  position: absolute;
  background-color: #fff;
  z-index: 1;
  top: 35px;
  width: 100%;
  box-shadow: 0px 0px 9px 2px #00000024;
  padding: 15px 30px;
  box-sizing: border-box;
}
.menu-list-level-1 ul {
  display: block !important;
  text-wrap: auto;
}
.menu-list-level-1:hover .menu-list-level-2 {
  display: block;
}
.menu-list-level-1 .menu-list-level-2 ul li {
  font-size: 17px;
  padding: 10px 0;
  line-height: 1.3;
  text-decoration: none;
}
.menu-list-level-1 ul li a:hover {
  text-decoration: none;
  opacity: 0.6;
}