/* stylelint-disable no-empty-source */
.section.banner-container {
    margin-bottom: 0;
}
main .banner-wrapper {
    padding: 0 !important;
    margin: 0 !important;
    max-width: 100% !important;
}
.banner-wrapper .banner.banner-block {
    height: 100vh;
    position: relative;
    overflow: hidden;
    min-height: 580px;
}
.banner .banner-container {
    display: none;
    position: relative;
}
.banner .banner-container.active {
    display: block;
}
.banner-nav-container {
    position: absolute;
    right: 4em;
    bottom: 4em;
    z-index: 5;
}
.banner .data-wrapper .data-block {
    margin-bottom: 30px;
    letter-spacing: 3px;
    color: #fff;
}
.banner .data-wrapper .data-block h3 {
    font-size: 42px;
    margin: 0 0 40px 0;
    position: relative;
    transition: 0.5s;
    font-weight: 100;
}
.banner .data-wrapper .data-block h4 {
    font-size: 15px;
    margin: 0 0 10px 0;
    font-weight: 100;
}
.banner .data-wrapper .data-block h5 {
    font-size: 12px;
    margin: 0;
    font-weight: 100;
}
.banner .data-wrapper .data-block div {
    width: 23em;
}
.banner-nav-container .nav-tabs {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}
.banner-nav-container .nav-tabs .nav-tab {
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 2px;
    opacity: 0.6;
}
.banner-nav-container .nav-tabs .nav-tab.active {
    opacity: 1;
}
.nav-image-blocks {
    display: flex;
    box-shadow: 0 3px 17px 4px black;
    position: relative;
    transition: 1s;
}
.nav-image-blocks .nav-image-block {
    display: grid;
    cursor: pointer;
    border: 3px solid transparent;
    background-color: black;
    align-items: center;
    width: 153px;
    box-sizing: border-box;
    height: 88px;
}
.nav-image-blocks .nav-image-block.active {
    border: 3px solid #fff;
}
.nav-image-blocks .nav-image-block .image-item img {
    display: flex;
}
.banner .data-wrapper {
    position: absolute;
    bottom: 12em;
    left: 5em;
    z-index: 1;
}
.banner .button-block {
    display: flex;
    gap: 22px;
}
.banner .button-block .button-container {
    margin: 0;
}
.banner .button-block .button-container a {
    background-color: white;
    color: #000;
    width: 171px;
    height: 45px;
    font-size: 16px;
    display: grid;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    border: 3px solid #fff;
    margin: 0;
}
.banner .button-block .button-item:nth-child(2) .button-container a {
    background-color: #0000006e;
    color: #fff;
}

.banner-overlay-block {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #00000070;
    z-index: 1;
}
.banner-data-block {
    z-index: 3;
    position: relative;
}
.banner-img-anim-block {
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    overflow: hidden;
    background-color: black;
}
.banner-img-anim-block.animate {
    transition: 1s;
    width: 0 !important;
}
.banner-img-anim-block .image-holder {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    transform: scale(1.1);
}
.banner-container.active .image-block img {
    transition: 3s;
    transform: scale(1.1);
}
.banner-container.active .image-block img.animate {
    transform: scale(1);
}

.nav-silde-container{
    width: 459px;
    overflow: hidden;
}
