.mobility-image > div {
}

.mobility-link-container {
    justify-content: space-between;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 11px 20px;
    right: 0;
    color: #fff;
    align-items: center;
    z-index: 1;
}

.mobility-text {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobility-text p {
    font-size: 68px;
    font-weight: 400;
}
.mobility-link p {
    font-size: 24px;
    margin: 0;
}
.mobility-image {
    height: 260px;
    overflow: hidden;
    position: relative;
}
.mobility-image img {
    width: 100%;
    position: absolute;
    transform-origin: center center;
    object-fit: cover;
    height: 100%;
}
.mb-text p {
    margin: 0;
}

.section.mobility-container {
    height: 1330px;
}
.mobility-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0000005c;
    top: 0;
}

.mobility-image img {
    transform: scale(1);
    transition: 1s;
}

.mobility-image:hover img {
    transform: scale(1.2);
}