.news-wrapper {
    max-width: 100% !important;
    padding: 0 !important;
}
.news-container .news-item {
    width: 90%;
}

.news-container {
    margin: 10em 0px;
    margin-bottom: 0;
}
.news-container .news-item-link:hover {
    text-decoration: none;
}
.news-container .arrow-wrapper {
    position: absolute;
    bottom: 0;
    right: 5em;
    width: 100%;
    z-index: 6;
    text-align: right;
    box-sizing: border-box;
}
.news-heading p {
    font-weight: 400;
    font-size: 42px;
    letter-spacing: 1.5px;
    margin-bottom: 40px;
    margin-left: 2.3em;
}
.news-data-wrap {
    display: flex;
    gap: 15px;
    align-items: flex-start;
    margin-top: 5px;
}
.news-data-wrap .news-date {
    white-space: nowrap;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 5px;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.9px;
    line-height: 18px;
}
.news-data-wrap .news-title {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.9px;
    line-height: 24px;
    color: rgb(0, 0, 0);
}
